<section class="content-line">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="text-block">
                    <p>
                        Європейська інтеграція для України  – це шлях модернізації економіки, подолання технологічної відсталості, залучення іноземних інвестицій і новітніх технологій, створення нових робочих місць, підвищення конкурентоспроможності вітчизняного товаровиробника, вихід на світові ринки, насамперед на ринок ЄС [1]. Як невід’ємна частина Європи Україна орієнтується на діючу в провідних європейських країнах модель соціально-економічного розвитку.
                    </p>
                    <p>
                        Розвиток партнерства з  ЄС – цивілізаційний вибір України, одна з ключових вимог Революції гідності [2]. У системі зовнішньополітичних пріоритетів України вона посідає особливе місце.
                        При виході на ринки ЄС українські експортери стикаються з низкою проблем, основними з яких є:
                        – високий рівень ввізних мит ЄС (так, наприклад, максимальна ставка ввізного адвалорного мита – 74,9%, а максимальний адвалерний еквівалент специфічної ставки увізного мита становить 600%) [3];
                        – суттєве збільшення ціни власної продукції через наявність в ЄС вхідних цін на певні види продукції.                            
                    </p>
                    <p>
                        З метою захисту вітчизняних товаровиробників в окремих найбільш чутливих галузях встановлюються наступні обмеження, визначені положеннями Угоди про асоціацію з ЄС:
                    </p>
                    <p>
                        – для низки європейських товарів українське мито лише частково знизиться (на 20–60% протягом 5–10 років);
                    </p>
                    <p>
                        – імпортувати європейські товари безмитно можна буде лише у визначених обсягах. Решта товарів імпортуватиметься на таких самих умовах, які діють наразі;
                    </p>
                    <p>
                        – по окремих товарах (насіння соняшнику, шкірсировина, окремі види брухту кольорових та чорних металів) на наступні 15 років запроваджується спеціальний захисний механізм, який передбачає стягнення додаткового збору при досягненні певних встановлених обсягів експорту;
                    </p>
                    <p>
                        – з метою захисту вітчизняних виробників текстильної галузі для одягу, який був у використанні, походженням з ЄС, Україна запроваджує механізм вхідних цін;
                    </p>
                    <p>
                        – для імпорту легкових автомобілів походженням з ЄС також запроваджується спеціальний захисний механізм, який передбачає поступову лібералізацію імпорту в межах певних обсягів та можливість обмеження імпорту у разі наявності шкоди для вітчизняних виробників [4].
                    </p>
                    <p>
                        Стосовно лібералізації торгівлі товарами походженням з держав-членів ЄС, то Україна впродовж перехідних періодів (протягом 3–10 р.) має повністю або частково знизити свої ввізні мита.
                    </p>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-up" data-js="btn-up"></a>
    </div>
</section>