<section class="content-line content-line_blue">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title section-title_wide section-title_underline-full">
                    <h2>ПУБЛІКАЦІЇ З КОНФЕРЕНЦІЇ</h2>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Стратегічне значення розвитку партнерства з ЄС для вітчизняної економіки</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Василь Грінченко</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Щодо поняття та ознак корпоративних прав</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Світлана Лоза</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Відповідальність за порушення виключних прав на промисловий взірець в польській правовій системі</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Світлана Лоза</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Стратегічне значення розвитку партнерства з ЄС для вітчизняної економіки</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Василь Грінченко</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Стратегічне значення розвитку партнерства з ЄС для вітчизняної економіки</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Василь Грінченко</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Щодо поняття та ознак корпоративних прав</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Світлана Лоза</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Відповідальність за порушення виключних прав на промисловий взірець в польській правовій системі</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Світлана Лоза</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
            <!-- Teaser -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="last-publication-teaser d-flex ">
                    <div class="permalink mb-">
                        <a href="/publication">Стратегічне значення розвитку партнерства з ЄС для вітчизняної економіки</a>
                    </div>
                    <div class="details">
                        <div class="date">
                            <span>20 січня 2017</span>
                        </div>
                        <div class="author">
                            Автор: <span>Василь Грінченко</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Teaser -->
        </div>
    </div>
</section>