<section class="content-line">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="text-block">
                    <h4>Шановні колеги!</h4>
                    <p>
                        Запрошуємо Вас взяти участь у роботі VIII Міжнародної науково-практичної конференції НАНР «Економіко-правові виклики 2018 року», яка відбудеться 14 січня 2018 року у Львові й проходитиме в заочній формі.
                    </p>
                    <p>
                        Статті та тези учасників будуть опубліковані в спецвипуску періодичного видання «Наукові виклики» (ISSN 2411-3506)
                    </p>
                    <p>
                        SoHu 2017 від НАНР є спробою розширення горизонтів мислення за допомогою інтердисциплінарного підходу, об’єднання знань науковців та практикуючих спеціалістів, що присвячують свої зусилля дослідженням в гуманітарній сфері, завдяки чому відкриваються нові можливості наукового діалогу, ставляться доцільні питання, актуальна проблематика аналізується комплексно, підвищується якість досліджень та імплементативність рішень.
                    </p>
                    <h4>В рамках конференції планується робота за наступними тематичними напрямами:</h4>
                    <ul>
                        <li>
                            Антропологія та історія
                        </li>
                        <li>
                            Архітектура та дизайн
                        </li>
                        <li>
                            Економіка та підприємництво
                        </li>
                        <li>
                            Журналістика та інформація
                        </li>
                        <li>
                            Культура та мистецтво
                        </li>
                        <li>
                            Менеджмент і адміністрування
                        </li>
                        <li>
                            Міжнародні відносини
                        </li>
                        <li>
                            Педагогічна освіта
                        </li>
                        <li>
                            Психологія
                        </li>
                        <li>
                            Право
                        </li>
                        <li>
                            Соціально-політичні науки
                        </li>
                        <li>
                            Філософія
                        </li>
                    </ul>
                    <p>
                        Збірник матеріалів конференції буде розісланий до 29 липня 2017 року на поштову адресу учасників, вказану у заявках.
                    </p>
                    <h4>Детальніше в інформаційному листі:</h4>
                    <ul class="files-list">
                        <li><a href="#">Інформаційний лист</a><span>(*.doc 800,0 KB)</span></li>
                        <li><a href="#">Інформаційний лист</a><span>(*.pdf 581 KB)</span></li>
                    </ul>
                    <h4>Робочі мови SoHu:</h4>
                    <ul class="lang-list">
                       <li><i class="flag flag-ukr"></i>українська</li>
                       <li><i class="flag flag-rus"></i>російська</li>
                       <li><i class="flag flag-pl"></i>польська</li>
                       <li><i class="flag flag-eng"></i>англійська</li>                        
                    </ul>
                    <h4>
                        Вартість участі:
                    </h4>
                    <p>
                        200 грн. – при оплаті до 10 травня 2017 року, <br>
                        300 грн. – при оплаті після 10 травня 2017 року,    
                    </p>
                    <h4>
                        За потреби та на вимогу:
                    </h4>
                    <p>
                        40 грн. – довідка про прийом матеріалів до публікації, <br>
                        80 грн. – видача сертифікату учасника, <br>
                        30 грн. – додаткова сторінка в збірнику.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 text-center text-lg-right">
                <div class="event-big-thumbnail">
                    <div class="thumbnail">
                        <img src="assets/img/event-big-thumbnail.jpg" alt="thumbnail" class="img-fluid">
                    </div>
                    <div class="links">
                        <a href="#">ЗАДАТИ ЗАПИТАННЯ</a>
                        <a href="#" class="btn btn-more">ПОДАТИ ЗАЯВКУ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>