<section class="content-line">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="text-block">
                    <h4>Шановні колеги!</h4>
                    <p>
                        Запрошуємо Вас взяти участь у роботі VIII Міжнародної науково-практичної конференції НАНР «Економіко-правові виклики 2018 року», яка відбудеться 14 січня 2018 року у Львові й проходитиме в заочній формі.
                    </p>
                    <p>
                        Статті та тези учасників будуть опубліковані в спецвипуску періодичного видання «Наукові виклики» (ISSN 2411-3506)
                    </p>
                    <h4>В рамках конференції планується робота за наступними тематичними напрямами:</h4>
                    <ul>
                        <li>
                            Теорія та історія держави і права, філософія права
                        </li>
                        <li>
                            Конституційне право України та зарубіжних країн, адміністративне та фінансове право, адміністративний процес, інформаційне право
                        </li>
                        <li>
                            Цивільне, господарське право та процес, сімейне право, міжнародне приватне право
                        </li>
                        <li>
                            Кримінальний процес та криміналістика, кримінальне право та кримінологія, кримінально-виконавче право
                        </li>
                        <li>
                            Трудове право та право соціального забезпечення
                        </li>
                        <li>
                            Економічна теорія, економетрія, та статистика
                        </li>
                        <li>
                            Фінанси, банківська та страхова справа
                        </li>
                        <li>
                            Маркетинг та стратегічне управління, ЗЕД
                        </li>
                        <li>
                            Менеджмент, HR та оперативне управління
                        </li>
                        <li>
                            Земельне, аграрне, екологічне та природоресурсне право
                        </li>
                    </ul>                    
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2 text-right text-md-center">
                <div class="event-big-thumbnail">
                    <div class="thumbnail">
                        <img src="assets/img/image.png" alt="thumbnail" class="img-fluid">
                    </div>
                    <div class="links">
                        <a href="#">ЗАДАТИ ЗАПИТАННЯ</a>
                        <a href="#" class="btn btn-more">ПОДАТИ ЗАЯВКУ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>