<header class="header">
    <div class="navigations-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-2">
                    <a href="#" class="logo">
                        <img src="assets/img/Logo.svg" alt="logo">
                    </a>
                </div>
                <div class="d-none d-lg-block col-lg-5">
                    <nav class="main-nav text-right">
                        <ul>
                            <li><a href="#" class="active">ПОДІЇ</a></li>
                            <li><a href="#">ПУБЛІКАЦІЇ</a></li>
                            <li><a href="#">ПОДАТИ МАТЕРІАЛИ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-lg-5 text-right">
                    <form class="f-search d-none d-lg-inline-block">
                        <input type="text" placeholder="ПОШУК">
                        <button type="submit"></button>
                    </form>
                    <ul class="lang-select d-none d-md-inline-block">
                        <li class="position-relative">
                            <a href="#" class="selected"><i class="flag flag-ukr"></i> УКР</a>
                            <ul class="text-left position-absolute">
                                <li><a href="#"><i class="flag flag-rus"></i> РУС</a></li>
                                <li><a href="#"><i class="flag flag-pl"></i> pl</a></li>
                                <li><a href="#"><i class="flag flag-eng"></i> eng</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="burger-btn d-inline-block" data-js="burger-btn">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="first-screen-content mt-5">
        <div class="container">
            <div class="row mt-2">
                <div class="col-12 col-md-5">
                    <div class="event-title">
                        <h2>
                            Подання заявки
                        </h2>
                        <hr>
                        <span>Ви можете подати матеріали на конференцію беспосередньо через сайт. Заповніть будь ласка нижче наведені поля, та завантажте файл з тезами.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>