<section class="content-line">
    <div class="container position-relative">
        <div class="row">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <div class="text-block">
                    <form action="#" class="f-request">
                        <div class="f-group">
                            <input type="text" placeholder="Прізвище">
                            <input type="text" placeholder="Ім'я">
                            <input type="text" placeholder="По батькові">
                        </div>
                        <div class="f-group">
                            <input type="text" placeholder="Тема доповіді">
                            <input type="text" placeholder="Вчене звання / Посада">
                            <input type="text" placeholder="Навчальний заклад / Підприємство">
                        </div>
                        <div class="f-group">
                            <input type="text" placeholder="Адреса">
                            <input type="text" placeholder="Телефон">
                            <input type="text" placeholder="Населений пункт">
                            <input type="text" placeholder="Поштовий індекс">
                        </div>
                        <div class="f-group">
                            <div>
                                <input type="checkbox" id="checkbox-1">
                                <label for="checkbox-1"><b>160 грн.</b> один примірник паперового збірника</label>
                            </div>
                            <div>
                                <input type="checkbox" id="checkbox-2">
                                <label for="checkbox-2"><b>20 грн</b>. довідка отримання інформації</label>
                            </div>
                            <div>
                                <input type="checkbox" id="checkbox-3">
                                <label for="checkbox-3"><b>160 грн.</b> видача сертифіката учасника</label>
                            </div>
                            <div>
                                <input type="checkbox" id="checkbox-4">
                                <label for="checkbox-4"><b>160 грн.</b> за кожну додаткову сторінку понад ліміт</label>
                            </div>
                        </div>
                        <h4>
                            Організаційний внесок слід перераховувати за наступними банківськими реквізитами:
                        </h4>
                        <p>
                            <b>Банк одержувача:</b>
                            ПАТ КБ «Приватбанк» м. Львів
                        </p> 
                            <b>Поточний рахунок одержувача:</b>
                            26008053816420 ЗКПО 39177402
                        <p>
                            <b>МФО банка одержувача:</b>
                            325321
                        </p>
                        <p>
                            <b>Отримувач:</b>
                            ТОВ «Юридична компанія «ЛО КРАФТ»
                        </p>
                        <p>
                            <b>Призначення платежу:</b>
                            участь у конференції ЕкПрав-2018, прізвище та ім’я учасника
                        </p>
                        <a href="#" class="load-file">ЗАВАНТАЖИТИ ФАЙЛ</a>
                        <div class="submit-area">
                            <button type="submit" class="btn btn-more">НАДІСЛАТИ</button>
                            <a href="#">ЗАДАТИ ЗАПИТАННЯ</a>
                        </div>
                    </form>                    
                </div>
            </div>
            <div class="col-12 col-lg-6 order-1 order-lg-2">
                <div class="text-block">
                    <p>
                        Повинні бути заповнені усі поля <br>
                        Оформлення тез повинно відповідати умовам <a href="#">див. тут</a> <br>
                        Вартість збірника матеріалів та додаткових послуг <a href="#">див. тут</a> <br>
                    </p>
                    <p>                            
                        Підтвердження про успішне оримання тез та інформації про автора обов’язково має прийти на вказаний Вами e-mail. У разі відсутності листа звяжіться з нами.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>