<header class="header header-thanks">
    <div class="navigations-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-2">
                    <a href="#" class="logo">
                        <img src="assets/img/Logo.svg" alt="logo">
                    </a>
                </div>
                <div class="d-none d-lg-block col-lg-5">
                    <nav class="main-nav text-right">
                        <ul>
                            <li><a href="/events">ПОДІЇ</a></li>
                            <li><a href="/publications">ПУБЛІКАЦІЇ</a></li>
                            <li><a href="#" class="active">ПОДАТИ МАТЕРІАЛИ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-lg-5 text-right">
                    <form class="f-search d-none d-lg-inline-block">
                        <input type="text" placeholder="ПОШУК">
                        <button type="submit"></button>
                    </form>
                    <ul class="lang-select d-none d-md-inline-block">
                        <li class="position-relative">
                            <a href="#" class="selected"><i class="flag flag-ukr"></i> УКР</a>
                            <ul class="text-left position-absolute">
                                <li><a href="#"><i class="flag flag-rus"></i> РУС</a></li>
                                <li><a href="#"><i class="flag flag-pl"></i> pl</a></li>
                                <li><a href="#"><i class="flag flag-eng"></i> eng</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="burger-btn d-inline-block" data-js="burger-btn">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="first-screen-content mt-5">
        <div class="container">
            <div class="row justify-content-center mt-2">
                <div class="col-12 col-md-5 col-lg-4 text-center">
                    <div class="thanks-block">
                        <img src="assets/img/thanks-img.png" alt="thanks" class="img-fluid ml-auto mr-auto d-block mb-5">
                        <h2>
                            Дякуємо за реєстрацію у нашому заході!
                        </h2>
                        <hr>
                        <div class="text-left mb-5">
                            <p>
                                У разі коректного заповнення анкети, та успішного завантаження файлу з тезами ― ми надішлемо вам підтвердження реєстрації та рахунок до сплати.
                            </p>
                        </div>
                        <a href="/" class="btn btn-more">НА ГОЛОВНУ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>