<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/style.min.css">
  <title>Home</title>
</head>
<body>
  {{> templates/home/header }}
  {{> templates/home/full-screen-navigation }}
  {{> templates/home/about-us }}
  {{> templates/home/take-part-of }}
  {{> templates/home/academic-council }}
  {{> templates/home/people-modals }}
  {{> templates/home/contact-us }}
  {{> templates/home/last-publications }}
  {{> templates/home/footer }}
  <script src="assets/js/script.min.js"></script>
</body>
</html>