<section id="about-us" class="content-line">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title section-title_underline-1 text-center mb-5">
                    <h2>ПРО НАС</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <p>
                    НАНР – академія наукового розвитку – здійснює проведення науково-практичних конференцій, соціологічних досліджень, видавничою діяльністю, та розвитком відносин з міжнародними науковими закладами (для допомоги науковцям публікації 
                    в іноземних наукових виданнях).
                </p>
                <a href="#" class="btn btn-more mt-3">
                    ДЕТАЛЬНІШЕ
                </a>
            </div>
        </div>
    </div>
</section>