<section id="academic-council" class="content-line" data-speed="0.4" data-parallax="scroll" data-z-index="1" data-image-src="assets/img/council-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title section-title_underline-3">
                    <h2>ВЧЕНА РАДА</h2>
                </div>
            </div>
        </div>
        <div class="row people-row">
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail" style="background-image: url(assets/img/academic-1.jpg);"></div>
                    <div class="people-name">
                        <span>Сергій Петренко</span>
                    </div>
                    <div class="people-work">
                        <span>Юрист</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail decorator-line" style="background-image: url(assets/img/academic-2.jpg);"></div>
                    <div class="people-name">
                        <span>Анатолій Левицький</span>
                    </div>
                    <div class="people-work">
                        <span>Менеджер</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail" style="background-image: url(assets/img/academic-3.jpg);"></div>
                    <div class="people-name">
                        <span>Юлія Василенко</span>
                    </div>
                    <div class="people-work">
                        <span>Адвокат</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail decorator-square" style="background-image: url(assets/img/academic-4.jpg);"></div>
                    <div class="people-name">
                        <span>Остап Мельник</span>
                    </div>
                    <div class="people-work">
                        <span>Економіст</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
        </div>
        <div class="row people-row">
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail" style="background-image: url(assets/img/academic-1.jpg);"></div>
                    <div class="people-name">
                        <span>Сергій Петренко</span>
                    </div>
                    <div class="people-work">
                        <span>Юрист</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail" style="background-image: url(assets/img/academic-2.jpg);"></div>
                    <div class="people-name">
                        <span>Анатолій Левицький</span>
                    </div>
                    <div class="people-work">
                        <span>Менеджер</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail" style="background-image: url(assets/img/academic-3.jpg);"></div>
                    <div class="people-name">
                        <span>Юлія Василенко</span>
                    </div>
                    <div class="people-work">
                        <span>Адвокат</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
            <!-- Academic -->
            <div class="col-12 col-sm-6 col-lg-3 text-center people-teasers-wraper">
                <a href="#modal-1" class="people-teaser text-left">
                    <div class="people-thumbnail" style="background-image: url(assets/img/academic-4.jpg);"></div>
                    <div class="people-name">
                        <span>Остап Мельник</span>
                    </div>
                    <div class="people-work">
                        <span>Економіст</span>
                    </div>
                </a>
            </div>
            <!-- /Academic -->
        </div>
    </div>
</section>