<footer class="footer content-line content-line_blue-2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-6 col-md-2 mt-3">
                <img src="assets/img/logo-ukr-3-white.svg" alt="logo" class="img-fluid">
            </div>
            <div class="col-6 col-md-2 mt-3">
                <nav class="main-nav">
                    <ul>
                        <li><a href="#">Головна</a></li>
                        <li><a href="#">ПОДІЇ</a></li>
                        <li><a href="#">ПУБЛІКАЦІЇ</a></li>
                        <li><a href="#">ПОДАТИ МАТЕРІАЛИ</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 mt-3">
                <ul>
                    <li>
                        <b>Електронна пошта: </b>
                        <a href="mailto:info@nanr.org">info@nanr.org</a>
                    </li>
                    <li>
                        <b>Фактична адреса:</b>
                        м. Львів, вул. Технічна 1/9
                    </li>
                    <li>
                        <b>Поштова адреса:</b>
                        79017, Львів, а/с 147
                    </li>
                </ul>
            </div>            
            <div class="col-12 col-sm-6 col-md-3 mt-3">
                <form class="f-search d-block w-100">
                    <input type="text" placeholder="ПОШУК">
                    <button type="submit"></button>
                </form>
                <ul class="lang-select d-flex justify-content-between mt-3">
                    <li>
                        <a href="#">
                           <i class="flag flag-ukr"></i> укр
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="flag flag-rus"></i> рус
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="flag flag-pl"></i> pl
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="flag flag-eng"></i> eng
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <p>НАНР 2018. Всі права захищено.</p>
            </div>
        </div>
    </div>
</footer>