<header class="header">
    <div class="navigations-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-2">
                    <a href="#" class="logo">
                        <img src="assets/img/Logo.svg" alt="logo">
                    </a>
                </div>
                <div class="d-none d-lg-block col-lg-5">
                    <nav class="main-nav text-right">
                        <ul>
                            <li><a href="#" class="active">ПОДІЇ</a></li>
                            <li><a href="#">ПУБЛІКАЦІЇ</a></li>
                            <li><a href="#">ПОДАТИ МАТЕРІАЛИ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-6 col-lg-5 text-right">
                    <form class="f-search d-none d-lg-inline-block">
                        <input type="text" placeholder="ПОШУК">
                        <button type="submit"></button>
                    </form>
                    <ul class="lang-select d-none d-md-inline-block">
                        <li class="position-relative">
                            <a href="#" class="selected"><i class="flag flag-ukr"></i> УКР</a>
                            <ul class="text-left position-absolute">
                                <li><a href="#"><i class="flag flag-rus"></i> РУС</a></li>
                                <li><a href="#"><i class="flag flag-pl"></i> pl</a></li>
                                <li><a href="#"><i class="flag flag-eng"></i> eng</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a class="burger-btn d-inline-block" data-js="burger-btn">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="first-screen-content mt-5">
        <div class="container">
            <div class="main-slider" id="main-slider" data-js="main-slider">
                <!-- SLIDE -->
                <div class="main-slider__slide">
                    <div class="row align-items-center justify-content-center position-relative">
                        <div class="col-12 col-lg-5 order-3 order-lg-1 left-side animated zoomInLeft">
                            <h1>Конференція економіко правові виклики 2018</h1>
                            <div class="dots mt-3">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <div class="text-right mt-3">
                                <p>
                                    VIII Міжнародна науково-практична конференція НАНР
                                </p>
                            </div>
                            <a href="#" class="btn btn-more mt-3">
                                ДЕТАЛЬНІШЕ
                            </a>
                        </div>
                        <div class="col-12 col-lg-5 order-1 order-lg-3 right-side position-relative animated zoomInRight">
                            <img src="assets/img/image.png" alt="slide image" class="img-fluid">
                            <div class="slider-nav-dots d-block d-lg-none"></div>
                            <div class="vertical-text">
                                <span>14 січня – Львів</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SLIDE -->
                <!-- SLIDE -->
                <div class="main-slider__slide">
                    <div class="row align-items-center justify-content-center position-relative">
                        <div class="col-12 col-lg-5 order-3 order-lg-1 left-side">
                            <h1>Конференція економіко правові виклики 2018</h1>
                            <div class="dots mt-3">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <div class="text-right mt-3">
                                <p>
                                    VIII Міжнародна науково-практична конференція НАНР
                                </p>
                            </div>
                            <a href="#" class="btn btn-more mt-3">
                                ДЕТАЛЬНІШЕ
                            </a>
                        </div>
                        <div class="col-12 col-lg-5 order-1 order-lg-3 right-side position-relative">
                            <img src="assets/img/image.png" alt="slide image" class="img-fluid">
                            <div class="slider-nav-dots d-block d-lg-none"></div>
                            <div class="vertical-text">
                                <span>14 січня – Львів</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SLIDE -->
                <!-- SLIDE -->
                <div class="main-slider__slide">
                    <div class="row align-items-center justify-content-center position-relative">
                        <div class="col-12 col-lg-5 order-3 order-lg-1 left-side">
                            <h1>Конференція економіко правові виклики 2018</h1>
                            <div class="dots mt-3">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <div class="text-right mt-3">
                                <p>
                                    VIII Міжнародна науково-практична конференція НАНР
                                </p>
                            </div>
                            <a href="#" class="btn btn-more mt-3">
                                ДЕТАЛЬНІШЕ
                            </a>
                        </div>
                        <div class="col-12 col-lg-5 order-1 order-lg-3 right-side position-relative">
                            <img src="assets/img/image.png" alt="slide image" class="img-fluid">
                            <div class="slider-nav-dots d-block d-lg-none"></div>
                            <div class="vertical-text">
                                <span>14 січня – Львів</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SLIDE -->
                <!-- SLIDE -->
                <div class="main-slider__slide">
                    <div class="row align-items-center justify-content-center position-relative">
                        <div class="col-12 col-lg-5 order-3 order-lg-1 left-side">
                            <h1>Конференція економіко правові виклики 2018</h1>
                            <div class="dots mt-3">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                            <div class="text-right mt-3">
                                <p>
                                    VIII Міжнародна науково-практична конференція НАНР
                                </p>
                            </div>
                            <a href="#" class="btn btn-more mt-3">
                                ДЕТАЛЬНІШЕ
                            </a>
                        </div>
                        <div class="col-12 col-lg-5 order-1 order-lg-3 right-side position-relative">
                            <img src="assets/img/image.png" alt="slide image" class="img-fluid">
                            <div class="slider-nav-dots d-block d-lg-none"></div>
                            <div class="vertical-text">
                                <span>14 січня – Львів</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /SLIDE -->
            </div>
        </div>
    </div>
    <div class="main-slider__controls d-none d-lg-block">
        <div class="container">
            <div class="row mt-5">
                <div class="col-10 position-relative paginations-wraper">
                    <span class="pagination current active" data-js="pagination" data-index="0">
                        01
                    </span>
                    <span class="pagination" data-js="pagination" data-index="1">
                        02
                    </span>
                    <span class="pagination" data-js="pagination" data-index="2">
                        03
                    </span>
                    <span class="pagination" data-js="pagination" data-index="3">
                        04
                    </span>
                </div>
                <div class="col-2 text-right">
                    <a href="#" class="btn btn-main-slider btn-main-slider-prev">
                        <i class="icon-arr"></i>
                    </a>
                    <a href="#" class="btn btn-main-slider btn-main-slider-next">
                        <i class="icon-arr"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>