<div id="modal-1" class="people-modal">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10">
                <div class="people-modal__content">
                    <div class="row justify-content-center">
                        <div class="photo-side">
                            <img src="assets/img/modal-thumbnail.jpg" alt="photo" class="img-fluid">
                        </div>
                        <div class="col-11">
                            <a href="#" class="btn-close-modal"></a>
                            <div class="text-side">
                                <h3>Юлія Василенко</h3>
                                <span>Адвокат</span>
                                <p>
                                    Має нагороди від Міністерства юстиції, Української нотаріальної палати, Київської міської державної адміністрації, профспілкових організацій.
                                </p>
                                <p>
                                    Брала участь у міжнародних проектах, зокрема в програмі співробітництва Міністерства юстиції України з Квебекською нотаріальною палатою Канади, українсько-нідерландському проекті «Впровадження нового Цивільного кодексу України». Була учасником Порогової програми Корпорації «Виклики тисячоліття» між урядами США і України.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>